html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: black;
  }
  
  .container {
    position: relative;
    display: block;
    z-index: 0;
  }
  
  .black-block {
    display: block;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    background: black;
    z-index: 2;
  }
  
  .cyber-map {
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 1;
  }

  button { 
    position: absolute; 
    top:7px; 
    left: 48%; 
    font-family: 'Courier New', Courier, monospace; 
    background-color: rgb(8, 0, 54); 
    color: white; 
    border-radius: 4px; 
    padding: 3px; 
    z-index: 3;
}