@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap');

:root {
    --bg-color: #020205; /* Deep Void */
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    overflow: hidden;
    user-select: none;
    cursor: crosshair; /* Sci-fi cursor */
    font-family: 'Rajdhani', sans-serif;
}

canvas {
    display: block;
}